@import 'node_modules/bootstrap/scss/bootstrap';

$eye-colors:
  (#776536  'hazel')
  (#a1caf1 'blue')
  (#603101 'brown');

@each $eye-color in $eye-colors {
  .eye-color-#{nth($eye-color, 2)} {
    background: nth($eye-color, 1);
    width: 100px;
    height: 100px;
    border-radius: 999em;
    text-indent: -999em;
    overflow: hidden;
    border: 5px solid #eee;
    display: inline-block;

    &.selected {
      border-color: black;
    }
  }
}
